.featured-back .nav.nav-pills .nav-item.show .nav-link {
    color: #fff !important;
}
.section-title .title {
    color: #fff !important;
}
.wishlist-link .wishlist-count {
    color: #fff !important;
}
.cart-dropdown .cart-count {
    color: #fff !important;
}
.section-title .link {
    color: #fff !important;
}
.nav.nav-border-anim .nav-link {
    color: #fff !important;
}